header {
  margin-top: 40px;
}

.myp {
  font-size: 90%;
}

.create_proj {
	width: 150px;
}

.main_div {
	margin-left: 270px;
}

.text {
  width: 258px;
  text-align: center;
}

.submit {
  margin-top: 1px;
  margin-left: 10px;
  height: 28px;
}

.first_hr {
  margin-bottom: 20px
}

.mya:link {
	text-decoration: none;
	color: black;
}

.mya:visited {
	text-decoration: none;
	color: black;
}

.mya:active {
	text-decoration: none;
	color: black;
}

.mya:hover {
	color: blue;
}