body {
	margin: 0;
}

li {
	list-style-type: none;
}

nav {
	margin-top: -25px;
	width: 270px;
	height: 690px;
	background: #1A1538;	
	color: #ECECEE;
}

a.mybut {
	margin-top: 30px;
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: .5em 2em;
	outline: none;
	border-width: 2px 0;
	border-style: solid none;
	border-color: #FDBE33 #000 #D77206;
	border-radius: 6px;
	background: linear-gradient(#F3AE0F, #E38916) #E38916;
	transition: 0.2s;
	height: 20px;
}

a.mybut3 {
	margin-top: 13px;
}

.mybut4 {
	margin-top: -30px;
}

.searcher {
	margin-top: 10px;
}

a.mybut:hover { 
	background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

a.mybut:active {
	background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.mybut2 {
	margin-top: 35px;
}

.myheader {
	width: 100%;
	text-align: center;
	height: 80px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	margin-top: -20px;
	background: #1A1538;
}

.myp {
	font-size: 90%;
}

.headp {
	text-align: right;
	margin-right: 17px;
	margin-top: -78px;
	color: #f4e3ab;
}

.headh {
	text-align: left;
	margin-left: 35px;
	margin-top: -38px;
	color: #f4e3ab;
	color: #ffffff;
	height: 29px;
	font-size: 25px;
}

.logo {
	text-align: right;
	margin-right: 190px;
	margin-top: -40px;
	color: #f4e3ab;
	color: #ffffff; 
}

.exit {
	color: #f4e3ab;
}

.search {
	margin-top: -675px;
	margin-left: 20px;
	margin-bottom: -80px;
}

#mytext {
	border: 1px solid #cccccc; 
	border-radius: 4px; 
	background: #ffffff !important; 
	outline: none; 
	height: 25px; 
	width: 160px; 
	font-family: Tahoma; 
	text-align: center;
	shadow: 0 0 10px rgba(0,0,0,0.5);
}

.pmargin {
	margin-top: 30px;
	padding-bottom: 11px;
}

A:hover {
	color: black;
}