/* Автор: Ерофеев илья */

body {
	margin: 0;
}

nav {
	margin-top: -25px;
	width: 270px;
	height: 690px;
	background: #1A1538;	
	color: #ECECEE;
}

a.mybut {
	font-size: 17px;
	margin-top: 30px;
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: .5em 2em;
	outline: none;
	border-width: 2px 0;
	border-style: solid none;
	border-color: #FDBE33 #000 #D77206;
	border-radius: 6px;
	background: linear-gradient(#F3AE0F, #E38916) #E38916;
	transition: 0.2s;
	height: 20px;
}

a.mybut3 {
	margin-top: 13px;
	margin-left: 6px;
}

.mybut4 {
	margin-top: -30px;
}

.li {
	list-style-type: none;
	font-size: 20px;
}

a.mybut:hover { 
	background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

a.mybut:active {
	background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.mybut2 {
	margin-top: 35px;
}

.myheader {
	width: 1350px;
	text-align: center;
	height: 80px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	margin-top: -20px;
	background: #1A1538;
}

.myp {
	font-size: 90%;
}

.headp {
	text-align: right;
	margin-right: 17px;
	margin-top: -78px;
	color: #f4e3ab;
}	

.headh {
	text-align: left;
	margin-left: 35px;
	margin-top: -38px;
	color: #f4e3ab;
	color: #ffffff;
	height: 29px;
	font-size: 25px;
}

.anotdiv {
	display: inline-block;
}

.anotdiv2 {
	width: 30%;
}

.anotdiv3 {
	margin-left: 25%;
}

.logo {
	text-align: left;
	margin-left: 900px;
	margin-top: -40px;
	color: #f4e3ab;
	color: #ffffff; 
}

.exit {
	color: #f4e3ab;
}

#mytext {
	border: 1px solid #cccccc; 
	border-radius: 4px; 
	background: #ffffff !important; 
	outline: none; 
	height: 25px; 
	width: 180px; 
	font-family: Tahoma; 
	text-align: center;
}


.searcher {
	margin-top: 10px;
	margin-left: 30px;
}

.pmargin {
	margin-top: 30px;
	padding-bottom: 11px;
}

.proj_list {
	max-width: 240px;
}

.search {
	margin-top: -675px;
	margin-left: 16px;
	margin-bottom: -80px;
}

.formargin {
	margin-left: 30%;
}

.formargin2 {
	margin-left: 27%;
}

.rounded {
	counter-reset: li; 
	list-style: none; 
	font: 14px "Trebuchet MS", "Lucida Sans";
	padding: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded a {
	position: relative;
	display: block;
	padding: .6em .4em .2em 2em;
	margin: .6em 0;
	background: #DAD2CA;
	color: #444;
	text-decoration: none;
	border-radius: .3em;
	transition: .3s ease-out;
	max-height: 19px;
}

.rounded a:hover {
	background: #E9E4E0;
}

.rounded a:hover:before {
	transform: rotate(360deg);
}

.rounded a:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #8FD4C1;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid white;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
}

A:hover {
	color: black;
}