body {
	background: #ECECEE;
	color: #363636;
}

header {
	text-align: center;
}

hr {
	border: none; 
	background-color: #CCCAE4; 
	color: #E2F0EE; 
	height: 3px; 
	width: 500px;
	margin-bottom: 50px;
}

p {
	font-size: 90%;
}

form {
	margin-bottom: 50px;
}

.text {
	text-align: center;
	border: 1px solid #cccccc; 
	border-radius: 4px; 
	background: #ffffff !important; 
	outline: none; 
	height: 25px; 
	width: 160px; 
	font-family: Tahoma; 
	shadow: 0 0 10px rgba(0,0,0,0.5);
}

.center {
	margin-top: 80px;
}

.submit {
	width: 100px;
	height: 33px;
	margin-top: 20px;
	border:0 none;
	border-radius: 5px;
	background: linear-gradient(to top, grey, #A9A9A9);  
	font-family: Tahoma;
	font-size: 14px;
}

A:link {
	text-decoration: none;
}

A:visited {
	text-decoration: none;
}

A:active {
	text-decoration: none;
}

A:hover {
	color: black;
}