<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Управление проектом</title>
	<link rel="stylesheet" type="text/css" href="..css/style.css">
	<link rel="stylesheet" type="text/css" href="..css/common.css">
	<link rel="stylesheet" type="text/css" href="..css/administration.css">
</head>
<body>
	<center>
		<header><h1>Управление проектом</h1></header><br>
		<p>Измените или удалите проект</p>
		<hr class="first_hr">
		<form method = "POST" accept-charset="utf-8">
			<input class="text adm_text" type="text" autocomplete="off" placeholder="Новое название">
			<input class="submit" type="button" value="Изменить"><br><br>
			<p>Участники проекта:</p>
			<input class="text" type="text" autocomplete="off" placeholder="Введите имя">
			<p><a href="">Сергей Перепечко</a><input class="submit" type="button" value="Исключить"></p>
			<p><a href="">Михаил Крышень</a><input class = "submit" type="button" value="Исключить"></p>
			<br><input class="submit" type = "submit" value = "Удалить"><br><br>
			<hr>
		</form>
	</center>
</body>
</html>
