<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
  <title>Личный кабинет</title>
  <style>
  </style>
  <body>
    <header></header>
        <h3 class="logo">Имя Фамилия</h3>
	<h3 class="headh">ProgectManager</h3>
	<p class="headp"><a href="/logout">ВЫЙТИ ИЗ СИСТЕМЫ</a></p>
	
<nav id="cd-vertical-nav" >
    <ul>
        <li> Создать проект</li>
		<li>Участие
		<ul>
            <li> Проект 1</li>
		    <li>Проект 2</li>
		    <li>Проект 3</li>
	    </ul></li>
		<li>Управление
		<ul>
            <li>Проект 1</li>
		    <li>Проект 2</li>
		    <li>Проект 3</li>
	    </ul></li>
	 </ul>
</nav>

<form  class="search">>
   <input type="search" class="text"  name="q"  pattern="[A-Za-zА-Яа-яЁё0-9\s]" placeholder="Поиск"> 
   <input type="submit" value="Найти"></p>
</form>

  </body>
</html>
