<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>New project</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="new_project.css">
	<script src="textarea_resize.js"></script>
</head>
<body>
	<center>
		<header style="margin-top: 30px"><h1>Создание нового проекта</h1></header><br>
		<p>Введите все данные и нажмите кнопку "Создать"</p>
		<hr style="margin-bottom: 20px">
		<form method = "POST" accept-charset="utf-8">
			<input class="project_name text" type = "text" maxlength="50" autofocus required placeholder="Введите название проекта"><br><br>
			<textarea class = "project_discr text" rows="2" maxlength="275" placeholder="Введите описание проекта" onkeyup="textarea_resize(event, 15, 2);"></textarea><br><br>
			<p>Участники проекта:</p>
			<input class="text" type="text" autocomplete="off" placeholder="Введите имя">
			<p><a href="">Сергей Перепечко</a><input class="submit" type="button" value="Удалить"></span></p>
			<p><a href="">Михаил Крышень</a><input class = "submit" type="button" value="Удалить"></p>
			<br><input class="submit" type="button" value = "Создать"><br><br>
			<hr>
		</form>
	</center>
</body>
</html>