<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Статистика</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/statistics.css">
</head>
<body>
  <center>
    <header><h1>Новая задача</h1></header><br>
    <p>Здесь вы можете добавить новую задачу в проект</p>
    <hr class="first_hr">
    <p>Общая статистика:</p>
    <table border="1">
      <tr>
        <td> Завершено задач </td>
        <td class="c_compl_taks"> 13/17 </td>
      </tr>
      <tr>
        <td> Процент выполнения проекта </td>
        <td class="per_compl_proj"> 69% </td>
      </tr>
      <tr>
        <td> Время, потраченное на проект </td>
        <td class="c_time_proj"> 53ч </td>
      </tr>
    </table>
    <br>
    <p>Статистика участников проекта:</p>
    <table border="1">
      <tr>
        <th> Имя </th>
        <th> Часы </th>
        <th> Вклад </th>
      </tr>   
      <tr>
        <td class="executor_name"> Сергей Перепечко </td>
        <td class="executor_hours"> 17ч </td>
        <td class="executor_percent"> 19% </td>
      </tr>
      <tr>
        <td class="executor"> Михаил Крышень </td>
        <td class="executor_hours"> 34ч </td>
        <td class="executor_percent"> 51% </td>
      </tr>
    </table><br>
    <hr>
  </center>
</body>
</html>
