<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Новый проект</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/new_project.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css">
</head>
<body>
	<div class="main_div">
		<center>
			<br><header class="header"><h1>Создание нового проекта</h1></header><br>
			<p class="myp">Введите данные и нажмите кнопку "Создать проект"</p>
			<hr class="first_hr">
			<form method = "POST" accept-charset="utf-8">
				<input class="text" type = "text" maxlength="50" autofocus required placeholder="Введите название проекта"><br><br>	
				<p class="myp">Добавить участников:</p>
				<input class="text" type="text" autocomplete="off" placeholder="Введите имя">
				<p class="myp"><a class="mya" src="">Сергей Перепечко</a><input class="submit" type="button" value="Исключить"></p>
				<p class="myp"><a class="mya" src="">Михаил Крышень</a><input class = "submit" type="button" value="Исключить"></p>
				<br><br><input class="submit create_proj" type="button" value = "Создать проект"><br><br>
				<hr>
			</form>
		</center>
	</div>
</body>
</html>
