<!--Автор: Ерофеев Илья-->
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Статистика</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/statistics.css">
</head>
<body>
	<div class="main_div">
		<center>
			<br><header class="header"><h1>Статистика проекта</h1></header><br>
			<p>Здесь вы можете наблюдать статистику проекта и его участников</p>
			<hr class="first_hr">

			<div class="tasks">

				<div class="my_task">
					<table border="1" class="mytable">
					<caption>Общая статистика проекта</caption>
						<tr>
							<td> Завершено задач </td>
							<td class="c_compl_taks"> 13/17 </td>
						</tr>
						<tr>
							<td> Процент выполнения проекта </td>
							<td class="per_compl_proj"> 69 </td>
						</tr>
						<tr>
							<td> Время, потраченное на проект(ч) </td>
							<td class="c_time_proj"> 53 </td>
						</tr>
					</table><br>
				</div>

				<div class="my_task">
					<table border="1" class="mytable">
					<caption>Вклад участников проекта:</caption>
						<tr>
							<th> Имя </th>
							<th> Часы </th>
							<th> Задачи </th>
						</tr>		
						<tr>
							<td class="executor_name"> Сергей Перепечко </td>
							<td class="executor_hours"> 17 </td>
							<td class="executor_percent"> 2 </td>
						</tr>
						<tr>
							<td class="executor_name"> Михаил Крышень </td>
							<td class="executor_hours"> 34 </td>
							<td class="executor_percent"> 5 </td>
						</tr>
						<tr>
							<td class="executor"> Игорь Николаев </td>
							<td class="executor_hours"> 59 </td>
							<td class="executor_percent"> 8	 </td>
						</tr>
					</table><br>
				</div>

			</div>

			<div class="tasks" style="vertical-align: top;">

				<div class="my_task">
					<table border="1" class="mytable">
					<caption>Решённые задачи</caption>
						<tr>
							<th> Название </th>
							<th> Время </th>
						</tr>		
						<tr>
							<td class="task_name"> Дописать последнюю страницу </td>
							<td class="task_hours"> 6 </td>
						</tr>
						<tr>
							<td class="task_name"> Сломать руку одногруппнику </td>
							<td class="task_hours"> 5 </td>
						</tr>
						<tr>
							<td class="task_name"> Закончить проект </td>
							<td class="task_hours"> 146 </td>
						</tr>
					</table><br>
				</div>
				
				<div class="my_task">
					<table border="1" class="mytable">
					<caption>Нерешённые задачи</caption>
						<tr>
							<th> Название </th>
							<th> Время </th>
						</tr>		
						<tr>
							<td class="task_name"> Промыть мозги </td>
							<td class="task_hours"> 24 </td>
						</tr>
						<tr>
						</tr>
						<tr>
							<td class="task_name"> Сломать палец одногруппнику </td>
							<td class="task_hours"> 2 </td>
						</tr>
						<tr>
							<td class="task_name"> Заказать пиццу </td>
							<td class="task_hours"> 3 </td>
						</tr>
						<tr>
							<td class="task_name"> Сделать login на сайте </td>
							<td class="task_hours"> 0 </td>
						</tr>
					</table><br>
				</div>

			</div>
			<hr>
		</center>
	</div>
</body>
</html>
