<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Задачи</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/tasks.css">
	<link rel="stylesheet" type="text/css" href="../css/statistics.css">
	<script language="javascript" type="text/javascript">
		function message() {
			if(confirm('Завершить выполнение задачи?')) {
				document.getElementById('first').disabled="disabled";
			}
		}
	</script>
</head>
<body>
	<div class="main_div">
		<center>
			<br><header class="header"><h1>Задачи проекта</h1></header><br>
			<p> Управляйте списком своих задач и добавляйте задачи проекта </p>
			<hr class="first_hr"><br>
			<form method = "POST" accept-charset="utf-8">
				<div>
					<div class="tasks"> 
						<table border=1> 
						<th class="wid">Мои задачи</th><th>Статус</th><th></th> 
							<tr><td class="my_task">Помыть посуду</td><td> <input class="submit checkbox" id="first" type="checkbox" onclick="message();"> </td> <td></td></tr> 
							<tr><td class="my_task">Вынести мусор</td><td> <input class="submit checkbox" type="checkbox"> </td> <td></td></tr> 
							<tr><td class="my_task">Погладить щенка</td><td> <input class="submit checkbox" type="checkbox"> </td> <td></td></tr> 
						</table> 	
					</div> 
					<div class="tasks"> 
						<table border=1> 
							<th colspan="2" class="wid">Свободные задачи</th> 
							<tr><td class="my_task">Сходить на митинг</td><td> <input class="submit checkbox" type="checkbox"> </td></tr> 
							<tr><td class="my_task">Почистить унитаз</td><td> <input class="submit checkbox" type="checkbox"> </td></tr> 
							<tr><td class="my_task">Подраться с гопниками</td><td> <input class="submit checkbox" type="checkbox"> </td></tr>  
						</table>
					</div>
				</div><br>
				<p><input class="submit but_1" type="button" value="Отказаться от задачи">
					<input class="submit but_2" type="button" value="Взять себе">
					<input class="submit but_3" type="button" value="Удалить задачу">
					<input class="submit but_4" type="button" value="Новая задача"></p>
				</form>
				<hr>
			</center>
		</div>
	</body>
	</html>